html {
  background-color: steelblue;
  opacity: 90%;
}
h3 {
    color: black;
}
nav {
    align-items: center;
    background-color: aqua;
    padding: 10px;
    display: flex;
}  
links {
display: block;
} 
    

   
    
    

   
