html {
  background-color: steelblue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*navigation header*/
nav {
  background-color: rgba(151, 173, 193, 0.585);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  box-shadow: 10px 10px 10px 0px;
  position: sticky;
  box-sizing: border-box;
}

/*h1 for all pages unless individually determined*/
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}

/*image for home/index section*/
img {
  border: 50px;
  border: solid;
  padding-block: 30px;
  padding-inline: 30px;
  background-color: white;
  vertical-align: middle;
  float: inline-end;
  margin-right: 80px;
  border-radius: 100%;

}

#about {
  background-color: aqua;
  width: 800px;
  font-size: 30px;
  padding-inline: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
  margin-left: 80px;
  float: inline-start;
}

/*home section*/
#display {
  display: inline-block;
  vertical-align: middle;
}

#quote {
  margin-inline: 80px;
  width: 800px;
  font-size: 30px;
  padding-inline: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: white;
}

/*contact section*/
.contact {
  padding: 85px 24px 100%;
  font-size: 30px;
  color: white;
  margin-inline: 30%;
  box-shadow: 10px 0 50px 30px white;
}

#hoverPurple:hover {
  background-color: hsla(240, 62%, 66%, 0.325);
}

form {
  padding-inline: 10%;
}

textarea {
  width: 80%;
  inline-size: 100%;
  line-height: 30px;
}

input {
  width: stretch;
  inline-size: 100%;
  line-height: 20px;
}

#submitButton {
  width: 20%;
  background-color: white;
  box-shadow: 10px 10px 10px 0px;
}

/*HOME link*/
a:nth-child(1) {
  color: white;
}

/*success page*/
#home {
  width: 10%;
  background-color: white;
  justify-items: center;
}

#textSize {
  font-size: 30px;
}